<div class="image-back">
  <div class="container col-xs-10 col-xs-offset-1 text-center">
    <h2 class="text-center"><%= link_to image_tag('loginwfb.png'), facebook_login_path %></h2>
  </div>
</div>
