<div class="container">
  <br><br><br><br>
  <div class="container text-align-center">
    <input type="text" name="search" id='search'>
  </div>
  <article id='search-results' class="col-md-6 col-md-offset-3 article"></article>
</div>
