<div class="container image-back">
  <div class="container centerDiv">
    <h4 class="garden-search">What do you want to grow?</h4><br>
    <div class="search-bar">
      <input type="text" name="search" id='search'>
      <a id='search-results' class="text-align-center"></a>
    </div>
  </div>
</div>
