// navbar
.right-nav {
  margin-right: 20px;
  margin-top: 15px;
}

.logo-img {
  margin-left: 15px;
  padding-bottom: 0px;
  height:55px;
  width:auto;
}

// home screen
.image-back {
  background-image: image-url("lavender_hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 747px;
  margin-top: -20px;
}
// plants index
.centerLoginDiv{
  padding:10px;
  height:50px;
  position:absolute;
  margin-top:-25px;
  margin-left:-100px;
  top:30%;
  left:50%;
}

.centerDiv{
  padding:10px;
  height:50px;
  position:absolute;
  margin-top:-25px;
  margin-left:-145px;
  top:30%;
  left:50%;
}

// login with facebook button
.login{
  padding:10px;
  position:absolute;
  margin-left:-31px;
}

//search links
.plant-link{
  color: white;
}

//search header
.garden-search{
  color: white;
}

.search-bar{
  padding-left: 50px;
}

.frost-search{
  display: block;
  margin: auto;
}

.zip-search{
  display: block;
  margin-top: auto;
  padding-bottom: 10px;
}

.button-dev {
  background-color: white;
  color: #006dcc;
  font-family: monospace;
  display: block;
  margin: auto;
  margin-top: 100px;
}
