.alert_info {
  margin-top: -20px;
  margin-bottom:0;
  border-radius:0;
  text-align: center;
  color: white;
  background-color: #1abc9c;
}

.alert_bye {
  margin-top: -20px;
  margin-bottom:0;
  border-radius:0;
  text-align: center;
  color: white;
  background-color: #2980b9;
}

.alert_alert {
  margin-top: -20px;
  margin-bottom:0;
  border-radius:0;
  text-align: center;
  color: white;
  background-color: #e74c3c;
}

.alert {
  margin-bottom: 20px;
}
