.plant-text{
  text-align: center;
  font-family: monospace;
}
.bold {
  font-weight: bold;
}
.ingredient{
  font-family: monospace;
}

.plant-image{
  display: block;
  margin: auto;
}

.recipe{
  float: right;
}

.button {
  background-color: white;
  color: #006dcc;
  font-family: monospace;
  display: block;
  margin: auto;
}
