<nav class="navbar navbar-default navbar-collapse navbar-fixed-top" role="navigation">
  <% if current_user %>
    <%= link_to image_tag("plant-icon.png", class:"logo-img"), plants_path %>
  <% else %>
  <%= link_to image_tag("plant-icon.png", class:"logo-img"), root_path %>
  <% end %>
  <ul class="pull-right nav navbar-nav">
  <% if current_user %>
    <li class = "dropdown">
          <a href = "#" class = "glyphicon glyphicon-menu-hamburger right-nav pull-right" data-toggle = "dropdown">
          </a>
          <ul class = "dropdown-menu plant-text">
            <% if request.env["PATH_INFO"].include?("/plants/") %>
              <li><a href = "#when_to_plant">when to plant</a></li>
              <li><a href = "#harvesting">harvesting</a></li>
              <li class = "divider"></li>
            <% end %>
            <li><a href="/mygarden", data-method="get", id="mygarden">my garden</a></li>
            <li><a href = "/logout", data-method="delete", id="logout">logout</a></li>
          </ul>
        </li>
  <% else %>
    <a id="login" class="right-nav navbar-brand glyphicon glyphicon-log-in" href="/auth/facebook" ></a>
  <% end %>
  </ul>
</nav>
