<nav class="navbar navbar-default navbar-collapse navbar-fixed-top" role="navigation">
  <% if current_user %>
    <%= link_to image_tag("plant-icon.png", class:"logo-img"), plants_path %>
  <% else %>
  <%= link_to image_tag("plant-icon.png", class:"logo-img"), root_path %>
  <% end %>
  <ul class="pull-right nav navbar-nav">
  <% if current_user %>
    <a id="logout" class="right-nav navbar-brand glyphicon glyphicon-log-out" data-method="delete" href="/logout" ></a>
  <% else %>
    <a id="login" class="right-nav navbar-brand glyphicon glyphicon-log-in" href="/auth/facebook" ></a>
  <% end %>
  </ul>
</nav>
