<header>
  <div class="navbar navbar-default ">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle right-nav" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar b1"></span>
          <span class="icon-bar b2"></span>
          <span class="icon-bar b3"></span>
        </button>
        <% if current_user %>
          <%= link_to image_tag("plant-icon.png", class:"logo-img"), plants_path %>
        <% else %>
          <%= link_to image_tag("plant-icon.png", class:"logo-img"), root_path %>
        <% end %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if request.env["PATH_INFO"].include?("/plants/") %>
            <li class="plant-text"><a href = "#when_to_plant">planting</a></li>
            <li class="plant-text"><a href = "#care">care</a></li>
            <li class="plant-text"><a href = "#harvesting">harvesting</a></li>
            <li class="divider"></li>
          <% end %>
          <% if current_user %>
            <li class="plant-text"><a href="/mygarden", data-method="get", id="mygarden">my garden</a></li>
            <li class="plant-text"><a href="/users/sign_out", data-method="delete", id="logout">logout</a></li>
          <% else %>
            <li class="plant-text"><a href="/users/sign_in", data-method="get", id="login">login</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
