<!DOCTYPE html>
<html>
<head>
  <title>HarvestHelper</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"></head>
<body>

<%= yield %>

<%= javascript_include_tag 'application' %>
</body>
</html>
